@use '../abstracts/' as *;

.dropdown-container {
    .dropdown-list {
        visibility: hidden;
        background-color: $dropdown-background;
        border-radius: $border-radius-bevelled;
        border: $dropdown-list-border;

        top: var(--_dropdown-list-top, #{$dropdown-list-top});
        left: var(--_dropdown-list-left, #{$dropdown-list-left});

        z-index: $z-index-10000;
    }


    // If the dropdown is a bit far from the hoverable element,
    // this avoids the dropdown list disappearing after the cursor moves
    // out of the hoverable element
    .dropdown-list::after {
        content: '';
        position: absolute;
        inset: var(--_dropdown-list-cursor-padding, #{$dropdown-list-cursor-padding});
        z-index: -1;
    }

    &:is(:hover, :focus-visible) .dropdown-list,
    .dropdown-list:is(:hover, :focus-visible) {
        visibility: visible;
    }
}