@use '../abstracts/' as *;

.table-container {
    border: $table-border;
    border-radius: $border-radius-bevelled;
    
    table {
        border-collapse: collapse;
        box-shadow: $table-box-shadow;
    }
    
    tr {
        background-color: $table-bright-background;
    }

    thead tr,
    tr:nth-child(2n) {
        background-color: $table-background;
    }

    tr td,
    tr th {
        padding: $table-padding;
    }
}