@use '../abstracts/' as *;

.table-container {
    border: $table-border;
    border-radius: $border-radius-bevelled;
    
    table {
        border-collapse: collapse;
        font-size: var(--fs-350);
    }
    
    tr {
        background-color: $table-bright-background;
    }

    tr:nth-child(2n) {
        background-color: $table-background;
    }

    tr td,
    tr th {
        padding: 0.65rem 1rem;
    }
}