$colors-dark: (
	primary: (
		400: hsl(200, 60%, 45%),
		500: hsl(200 60% 55%)
	),
	neutral: (
		300: hsl(223, 12%, 10%),
		400: hsl(223, 12%, 12%),
		500: hsl(223, 12%, 18%),
		600: hsl(223, 12%, 24%),
		700: hsl(0 0 50%),
		800: hsl(0 0 60%),
	),
	misc: (
		text-muted: hsl(0 0 62%),
		error: hsl(376 80% 55%),
	)
);

$colors-light: ();

$active-theme: $colors-dark;

@each $colorTuple, $colorValues in $active-theme {
	@each $colorName, $colorValue in $colorValues {
		.clr-#{$colorTuple}-#{$colorName} {
			color: $colorValue;
		}
	}
}
