$colors-dark: (
	background: (
		400: hsl(223, 12%, 10%),
	),
	primary: (
		400: hsl(200, 60%, 50%),
		500: hsl(200 60% 60%)
	),
	neutral: (
		300: hsl(223, 12%, 8%),
		400: hsl(223, 12%, 10%),
		500: hsl(223, 12%, 14%),
		600: hsl(223, 12%, 18%),
		700: hsl(223, 12%, 24%),
		800: hsl(223, 12%, 32%),
	),
	misc: (
		text-muted: hsl(0 0 69%),
		error: hsl(376 80% 55%),
	)
);

$active-theme: $colors-dark;

@each $colorTuple, $colorValues in $active-theme {
	@each $colorName, $colorValue in $colorValues {
		.clr-#{$colorTuple}-#{$colorName} {
			color: $colorValue;
		}
	}
}
