@use 'sass:color';

@use './colors.scss' as *;

// Options
$option-anim-button-overlay: true;

// Colors
$clr-background: map-get(map-get($active-theme, 'background'), 400);

$clr-primary-400: map-get(map-get($active-theme, 'primary'), 400);
$clr-primary-500: map-get(map-get($active-theme, 'primary'), 500);

$clr-neutral-300: map-get(map-get($active-theme, 'neutral'), 300);
$clr-neutral-400: map-get(map-get($active-theme, 'neutral'), 400);
$clr-neutral-500: map-get(map-get($active-theme, 'neutral'), 500);
$clr-neutral-600: map-get(map-get($active-theme, 'neutral'), 600);
$clr-neutral-700: map-get(map-get($active-theme, 'neutral'), 700);
$clr-neutral-800: map-get(map-get($active-theme, 'neutral'), 800);

$clr-misc-text-muted: map-get(map-get($active-theme, 'misc'), 'text-muted');
$clr-misc-error: map-get(map-get($active-theme, 'misc'), 'error');

// Global
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;300;400;500;600&display=swap');

$global-primary-font: 'Ubuntu';
$global-color-scheme: dark;

$global-background: $clr-background;
$global-font-size: var(--fs-400);
$global-font-family: $global-primary-font, system-ui;

$border-radius-bevelled: 6px;
$border-radius-max: 100vmax;

$z-index-10: 999;
$z-index-100: 9999;
$z-index-1000: 99999;
$z-index-10000: 999999;

$global-gap: 1rem;

$global-heading-line-height: 1.6;
$global-paragraph-line-height: 1.2;

$global-accent-color: $clr-primary-400;

$global-outline-thickness: 2px;
$global-outline-offset: 3px;

// Container
$container-padding: 2rem;

$container-max-width: 1100px;
$container-max-width-narrow: 900px;
$container-max-width-wide: 1300px;

// Anchor tag
$a-color: $clr-primary-400;

// Button
$button-primary: $clr-primary-400;
$button-neutral: $clr-neutral-600;
$button-error: $clr-misc-error;

$button-padding: 0.5rem 0.85rem;
$button-padding-tiny: 0.1rem 0.6rem;
$button-padding-small: 0.25rem 0.8rem;
$button-padding-big: 0.6rem 1.2rem;
$button-padding-huge: 0.85rem 1.4rem;

$button-border-radius: $border-radius-bevelled;
$button-border-thickness: 2px;
$button-overlay-brightness: 50%;

$button-hologram-transparency: 0.55;
$button-hologram-background-lightness: 8%;

$buttom-anim-rotate-icon-duration: 1s;
$button-anim-overlay-duration: 0.35s;

// Input
$input-primary: $clr-neutral-400;
$input-primary-neutral: $clr-neutral-500;

$input-padding: 0.475rem 0.8rem;

$input-box-shadow: 0 0 0px 3px;
$input-border-thickness: 2px;
$input-end-icon-left: 92%;
$input-end-icon-brightness: 55%;
$input-border-color-transition-duration: 244ms;

// Navbar
$mobile-navbar-background: $clr-neutral-300;
$mobile-navbar-transition-duration: 444ms;

// Intro
$intro-img-filter: blur(4px) brightness(0.5);
$intro-grid: 40% 60%;

// Table
$table-background: $clr-neutral-400;
$table-bright-background: $clr-neutral-500;
$table-box-shadow: 0 0 32px 2px rgba(0 0 0 / 0.4);

$table-border: 1px solid $clr-neutral-700;

// Uni Logo
$uni-logo-small-size: 4rem;
$uni-logo-large-size: 9rem;

// Dropdown
$dropdown-background: $clr-neutral-300;
$dropdown-list-border: 1px solid $clr-neutral-600;

$dropdown-list-cursor-padding: -10px;
$dropdown-list-distance: 3.25rem;

// Card
$card-border: 1px solid transparent;

$card-neutral-background: $clr-neutral-500;
$card-neutral-border-color: $clr-neutral-600;

// Text
$text-underline-width: 2px;

// Footer
$footer-background: $clr-neutral-300;